extends layout.pug

block content
 section#content
  //h2= prompt
  h2= text
  if hint
   p
    i Hint: #{hint}
  a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
  br
  a(href='/cards') Next card
