extends layout.pug

block content
 section#content
  //h2 Welcome, student!
  //h2 Welcome, #{name}!
  //form(action='/goodbye' method='post')
   //button(type='submit') goodbye
  p
   a(href='/cards') Begin!


