doctype html
html(lang="en")
 head
  title Landing Page
  link(rel='stylesheet', href='/static/stylesheets/style.css')
 body
  include includes/header.pug
  if name
   h2 Welcome, #{name}!
   form(action='/goodbye' method='post')
    button(type='submit') goodbye
  block content
  include includes/footer.pug